<nav class="navbar navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="reception" routerLinkActive="active">
    QUIZZI
  </a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!auth.isLoggedIn()">
      <a class="nav-item nav-link" routerLink="/reception">
        se connecter</a></li>
    <li class="nav-item" *ngIf="auth.isLoggedIn()">
      <a class="nav-item nav-link" routerLink="/profile">{{
        auth.getUserDetails()?.name }}</a></li>
    <li class="nav-item nav-link" *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">
        <div style="cursor : pointer">Logout</div>
      </a></li>
  </ul>
</nav>
<br />

<div class="container">
  <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
  <router-outlet></router-outlet>
  <simple-notifications></simple-notifications>
</div>
