<div *ngIf="goToDetails; else homeResponse; ">
  <app-response-details [questionnaire]="questionnaire" [answers]="answers" (toResponsePgae)="detailsFinish($event)"></app-response-details>
  <!--(viewFinish)="viewFinish"-->
</div>
<ng-template #homeResponse>
  <mat-tab-group>
    <mat-tab label="Mes Résponses">
      <div class="card">
        <div class="card-body" *ngIf="questionnaire">
          <h4 class="card-title">{{questionnaire.title}}
            <div class="float-right mt-2">
              <button class="btn btn-outline-primary" (click)="goToProfile()">Retour</button>
            </div>
          </h4>
          <i class="card-text">{{questionnaire.description}}</i>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="All Responses">
      <div class="card">
        <div class="card-body" *ngFor="let q of submissionList">
          <h4 class="card-title">{{q.createdAt}}</h4>
          <i class="card-text">{{q.submitter}}</i><br><br>
          <button class="mr-1" mat-raised-button color="primary" (click)="getDetails()">View</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>