<div *ngIf="question">
    <div class="float-left" [ngSwitch]="question.type">
        <div *ngSwitchCase="'BOOLEAN'">
            <mat-radio-group class="example-radio-group" [(ngModel)]="question.answer">
                <mat-radio-button class="example-radio-button" [disabled]="readonly" *ngFor="let value of question.values"
                    [value]="value?.value">{{value?.value}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngSwitchCase="'MULTI_CHOICE_MULTI'">
            <section class="example-section" *ngFor="let value of question.values">
                <mat-checkbox class="example-margin" [disabled]="readonly" [(ngModel)]="value.answer">{{value?.value}}
                </mat-checkbox>
            </section>
        </div>
        <div *ngSwitchCase="'MULTI_CHOICE_SINGLE'">
            <mat-radio-group class="example-radio-group" [(ngModel)]="question.answer">
                <mat-radio-button class="example-radio-button" [disabled]="readonly" *ngFor="let value of question.values"
                    [value]="value?.value">{{value?.value}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngSwitchCase="'LONG_ANSWER'">
            <mat-form-field *ngIf="!readonly">
                <textarea minRows="2" matInput [disabled]="readonly" [(ngModel)]="question.answer" required>
              </textarea>
            </mat-form-field>
            <div *ngIf="readonly" class="long-answer-readonly">{{question.answer}}</div>
        </div>
        <div *ngSwitchCase="'SHORT_ANSWER'">
            <mat-form-field *ngIf="!readonly">
                <input matInput [disabled]="readonly" [(ngModel)]="question.answer">
            </mat-form-field>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer}}</div>
        </div>
        <div *ngSwitchCase="'NUMERICAL'">
            <mat-form-field *ngIf="!readonly">
                <input matInput [disabled]="readonly" [(ngModel)]="question.answer">
            </mat-form-field>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer}}</div>
        </div>
        <div *ngSwitchCase="'DATE_TYPE'">
            <mat-form-field *ngIf="!readonly">
                <input matInput [matDatepicker]="picker" [(ngModel)]="question.answer" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="readonly" class="short-answer-readonly">{{question.answer | date:'mediumDate'}}</div>
        </div>
    </div>
    <div class="float-right" *ngIf="edit && !readonly">
        <a href="" class="clickable" (click)="editQuestion($event)">Edit</a>
        <div *ngIf= "removable">
            <a href="" class="clickable" (click)="removeQuestion($event)" >Remove</a>
        </div>
        <!--a href="" class="clickable" (click)="removeQuestion($event)" 
        [ngStyle]="{'visibility' : removable === 'true' ? 'visible' : 'hidden' } ">Remove</a>-->
    </div>
</div>